<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <h1>Jasmin? Who's that?!</h1>
    <h2>Things I'm good at:</h2>
    {% for skill in skills %}
        <ul>
            <li>{{ skill }}</li>
        </ul>
    {% endfor %}
    <h2>Things that interest me:</h2>
    {% for interest in interests %}
        <ul>
            <li>{{ interest }}</li>
        </ul>
    {% endfor %}
</body>
</html>